<template>
  <div class="home main-bg d-flex w-100" style="min-height:100vh">
    <div class="d-flex justify-content-center align-items-center w-100 second-bg py-5">
      <Formulario class="w-100" style="max-width:930px"></Formulario>
    </div>
  </div>
</template>
<style scoped>
  .main-bg{
    background-image:url('../assets/alumnos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .second-bg{
    background-color: rgba(1,1,1,.75);
  }
</style>
<script>
// @ is an alias to /src
import Formulario from './../components/Formulario'
import WOW from 'wow.js'
export default {
  name: 'Form',
  components:{
    Formulario
  },
  mounted(){
    new WOW().init();
  }
}
</script>
