<template>
  <div class="home main-bg d-flex w-100" style="min-height:100vh">
    <div class="d-flex justify-content-center align-items-center w-100 second-bg">
      <div class="text-center">
        <p class="text-center text-white sub-title wow bounceInDown">Escuela de Prueba "República de Chile"</p>
        <div class="btn-group wow bounceInLeft" role="group" aria-label="Basic example">
          <router-link to="/form" style="margin-right:0 !important;">
            <button type="button" class="btn btn-primary mr-0">Procesar Inscripción</button>
          </router-link>
          <a href="http://lacandelaria.herokuapp.com/login" target="_blank" style="margin-right:0">
            <button type="button" class="btn btn-primary mx-0">Ver Sistema Externo hecho por mi</button>
          </a>
          <a href="https://geralda05@bitbucket.org/geralda05/prueba-school" target="_blank">
            <button type="button" class="btn btn-primary ml-0">Repositorio GIT</button>
          </a>
        </div>
        <p class="text-center text-white sub2-title mt-3 wow bounceInRight">(Para acceder al sistema externo utilizar las credenciales enviadas por WhatsApp)</p>
        <p class="text-center text-white sub2-title mt-3 wow bounceInRight">© 2020. Gerald Leonel Alarcón. All rights reserved.</p>
      </div>
    </div>
  </div>
</template>
<style>  
  a{
    margin-right:0 !important;
  }
  .main-bg{
    background-image:url('../assets/alumnos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .second-bg{
    background-color: rgba(1,1,1,.75);
  }
  .sub-title{
    font-size:30px;
  }
  .sub2-title{
    font-size:20px;
  }
</style>
<script>
// @ is an alias to /src
import WOW from 'wow.js';
export default {
  name: 'Home',
  mounted(){
    new WOW().init();
  }
}
</script>