<style>
  .custom-file-input:lang(en)~.custom-file-label::after {
    content:'Buscar' !important;
  }
  .custom-file-label{
    padding-right:70px !important;
    border-top:0;
    border-left:0;
    border-right:0;
  }
  .custom-file-label::after{
    visibility:hidden;
  }
  .title-form{
    border-left:2px solid blue;
    font-size:20px;
  }
  .top-label label{
    transform: translateY(-14px) scale(0.8) !important;
  }
  .custom-select{
    border-top:0; 
    border-right:0; 
    border-left:0; 
    margin-bottom:0;
  }
</style>
<template>
  <div class="card wow bounceInLeft">
    <div class="card-body">
      <form class="md-form text-center p-3" v-on:submit.prevent="SendRegister()" style="overflow: hidden">
        <p class="h4 mb-4 wow bounceInLeft delay-1s">Registro de Alumnos</p>
        <div class="row m-0 p-0" style="overflow:hidden;">
          <div class="col-12 px-1 wow bounceInRight delay-1s">
            <p class="title-form text-left px-3 py-2 mb-0">Datos Personales</p>
          </div>
          <div class="col-12 col-md-6 px-1 wow bounceInRight delay-1s">
            <div>
              <mdb-input label="RUN" v-model="inscripcion.run" type="text" required />
            </div>
          </div>
          <div class="col-12 col-md-6 px-1 wow bounceInRight delay-1s d-flex justify-content-center align-items-center">
            <div class="input-group mb-4">
              <div class="custom-file">
                <input required type="file" accept="image/*" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" @change="onFileChanged($event)">
                <label class="custom-file-label" for="inputGroupFile01" v-if="inscripcion.image !== ''">{{ getName() }}</label>
                <label class="custom-file-label" for="inputGroupFile01" v-if="inscripcion.image === ''">Foto del alumno</label>
              </div>
            </div>
          </div>          
          <div class="col-12 col-sm-4 px-1 wow bounceInRight delay-1s">
            <div >
              <mdb-input label="Nombre" v-model="inscripcion.fname" type="text" required />
            </div>
          </div>
          <div class="col-12 col-sm-4 px-1 wow bounceInRight delay-1s">
            <div >
              <mdb-input label="Apellido Paterno" v-model="inscripcion.lname" type="text" required />
            </div>
          </div>
          <div class="col-12 col-sm-4 px-1 wow bounceInRight delay-1s">
            <div >
              <mdb-input label="Apellido Materno" v-model="inscripcion.llname" type="text" required />
            </div>
          </div>
          <div class="col-12 col-sm-4 px-1 wow bounceInRight delay-1s d-flex justify-content-center align-items-center">
            <select id="defaultLoginFormGender" class="mt-auto form-control mb-4 custom-select" placeholder="Genero" v-model="inscripcion.gender">
              <option value="" disabled>Genero</option>
              <option v-for="genero in generos" :value="genero.id" :key="genero.id">{{genero.descripcion}}</option>
            </select>
          </div>
          <div class="col-12 col-sm-4 px-1 wow bounceInRight delay-1s">
            <div class="md-form top-label">
              <mdb-input label="Fecha de Nacimiento" v-model="inscripcion.bornDate" type="date" required />
            </div>
          </div>
          <div class="col-12 col-sm-4 px-1 wow bounceInRight delay-1s">
            <div >
              <mdb-input label="Email" v-model="inscripcion.email" type="email" required />
            </div>
          </div>
          <div class="col-12 px-1 wow bounceInLeft delay-1s">
            <p class="title-form text-left px-3 py-2 mb-0">Dirección</p>
          </div>
          <div class="col-12 col-sm-4 px-1 wow bounceInLeft delay-1s">
            <div >
              <mdb-input label="Dirección" v-model="inscripcion.address" type="text" required />
            </div>
          </div>
          <div class="col-12 col-sm-4 px-1 wow bounceInLeft delay-1s d-flex justify-content-center align-items-center">
            <select v-model="inscripcion.region" id="defaultLoginFormRegion" class="form-control mb-4 custom-select mt-auto" placeholder="Región" v-on:change="LeerComunas()">
              <option value="" disabled>Región</option>
              <option :value="region.id" v-for="region in regiones" :key="region.id">{{region.nombre}}</option>
            </select>          
          </div>
          <div class="col-12 col-sm-4 px-1 wow bounceInLeft delay-1s d-flex justify-content-center align-items-center">
            <select type="text" id="defaultLoginFormPassword" class="form-control mb-4 custom-select mt-auto" placeholder="Comuna" v-model="inscripcion.comuna">
              <option value="" disabled>Comuna</option>
              <option :value="comuna.id" v-for="comuna in comunas" :key="comuna.id">{{comuna.nombre}}</option>
            </select>          
          </div>
          <div class="col-12 px-1 wow bounceInRight delay-1s">
            <p class="title-form text-left px-3 py-2 mb-0">Información Médica</p>
          </div>
          <div class="col-12 col-sm-6 col-md-4 px-1 wow bounceInRight delay-1s d-flex justify-content-center align-items-center">
            <select v-model="inscripcion.prevision" id="defaultLoginFormPrevision" class="form-control custom-select mt-auto mb-4" placeholder="Previsión de Salud">
              <option value="" disabled>Previsión de Salud</option>
              <option :value="prevision.id" v-for="prevision in previsiones" :key="prevision.id">{{prevision.descripcion}}</option>
            </select>
          </div>
          <div class="col-12 col-sm-6 col-md-4 px-1 wow bounceInRight delay-1s">
            <div >
              <mdb-input label="Personas con quien vive" v-model="inscripcion.homePeople" type="text" required />
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 px-1 wow bounceInRight delay-1s">
            <div >
              <mdb-input label="Enfermedad Grave" v-model="inscripcion.seriousIllness" type="text" required />
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 px-1 wow bounceInRight delay-1s">
            <div >
              <mdb-input label="Alergias a Medicamentos" v-model="inscripcion.drugAllergy" type="text" required />
            </div>
          </div>
          <div class="col-12 col-md-6 px-1 wow bounceInRight delay-1s">
            <div >
              <mdb-input label="Alergias Alimenticias" v-model="inscripcion.foodAllergy" type="text" required />
            </div>
          </div>
          <div class="col-12 px-1 wow bounceInLeft delay-1s">
            <p class="title-form text-left px-3 py-2 mb-0">Nacionalidad</p>
          </div>
          <div class="col-12 col-sm-4 px-1 wow bounceInLeft delay-1s d-flex justify-content-center align-items-center">
            <select v-model="inscripcion.nacionalidad" id="defaultLoginFormNacionality" class="form-control mb-4 custom-select mt-auto" placeholder="Nacionalidad">
              <option value="" disabled>Nacionalidad</option>
              <template v-if="inscripcion.gender !== ''">            
                <option v-for="nacionalidad in nacionalidades" :key="nacionalidad.id" :value="nacionalidad.id">
                  <template v-if="inscripcion.gender === 2">
                    {{nacionalidad.nacionalidadF}}
                  </template>
                  <template v-if="inscripcion.gender === 1">
                    {{nacionalidad.nacionalidadM}}
                  </template>
                  <template v-if="inscripcion.gender === 3">
                    {{nacionalidad.nombre}}
                  </template>  
                </option>
              </template>
            </select>
          </div>
          <div class="col-12 col-sm-4 px-1 wow bounceInLeft delay-1s">
            <div >
              <mdb-input label="N° Pasaporte" v-model="inscripcion.passportN" type="text" required />
            </div>
          </div>
          <div class="col-12 col-sm-4 px-1 wow bounceInLeft delay-1s d-flex justify-content-center align-items-center">
            <select v-model="inscripcion.etnia" id="defaultLoginFormEtnia" class="form-control mb-4 custom-select mt-auto" placeholder="Etnia">
              <option value="" disabled>Etnia</option>
              <option v-for="etnia in etnias" :key="etnia.id" :value="etnia.id">{{etnia.descripcion}}</option>
            </select>
          </div>
          <div class="col-12 px-1 wow bounceInRight delay-1s">
            <p class="title-form text-left px-3 py-2 mb-0">Antecedentes Académicos</p>
          </div>
          <div class="col-12 col-sm-6 px-1 wow bounceInRight delay-1s">
            <div >
              <mdb-input label="Colegio de Procedencia" v-model="inscripcion.oldSchool" type="text" required />
            </div>
          </div>
          <div class="col-12 col-sm-6 px-1 wow bounceInRight delay-1s">
            <div class="md-form top-label">
              <mdb-input label="Fecha de Ingreso" v-model="inscripcion.registerDate" type="date" required />
            </div>
          </div>
          <div class="col-12 px-1 wow bounceInRight delay-1s">
            <div >
              <mdb-input label="Motivo por el que se cambia" v-model="inscripcion.registerCause" type="text" required />
            </div>
          </div>
        </div>
        <button class="btn btn-info btn-block my-4 wow bounceInUp delay-2s" type="submit">Inscribir</button>
      </form>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
import WOW from 'wow.js';
import { mdbInput } from 'mdbvue';
import Swal from 'sweetalert2';
export default {
  name: 'Formulario',
  components:{
    mdbInput
  },
  data(){
    return{
        regiones:[],
        inscripcion:{
          run:'',
          image:'',
          name:'',
          lname:'',
          llname:'',
          bornDate:'',
          address:'',
          region:'',
          comuna:'',
          seriousIllness:'',
          drugAllergy:'',
          foodAllergy:'',
          oldSchool:'',
          homePeople:'',
          gender:'',
          registerDate:'',
          prevision:'',
          email:'',
          nacionalidad:'',
          etnia:'',
          registerCause:'',
          passportN:'',
        },
        nacionalidades:[],
        previsiones:[],
        comunas:[],
        generos:[],
        etnias:[],
    }
  },
  mounted(){
    new WOW().init();
    axios({
      method: 'get',
      url: 'http://prueba.pro/api/regiones',
    }).then(response => {
      this.regiones = response.data;
    });
    axios({
      method: 'get',
      url: 'http://prueba.pro/api/generos',
    }).then(response => {
      this.generos = response.data;
    });
    axios({
      method: 'get',
      url: 'http://prueba.pro/api/previsionesdesalud',
    }).then(response => {
      this.previsiones = response.data;
    });
    axios({
      method: 'get',
      url: 'http://prueba.pro/api/paises',
    }).then(response => {
      this.nacionalidades = response.data;
    });
    axios({
      method: 'get',
      url: 'http://prueba.pro/api/etnias',
    }).then(response => {
      this.etnias = response.data;
    });
  },
  methods:{
    SendRegister(){
      console.log('Registro de inscripcion:', this.inscripcion);
      Swal.fire(
        'Success',
        'Puede ver el registro de inscripción realizado en la consola',
        'success'
      );
    },
    getName(){
      return document.getElementById('inputGroupFile01').files[0].name
    },
    LeerComunas(){
      axios({
        method: 'get',
        url: 'http://prueba.pro/api/comunas',
      }).then(response => {
        this.comunas = response.data;
      });
    },
    onFileChanged: function(event) {
      var file = event.target.files[0]; 
      var fileSize = event.target.files[0].size 
      if (fileSize > 1001024) {
          this.companyLogoError = "La imagen no debe pesar mas de 1MB, por favor introduzca una nueva";
          this.inscripcion.image = null;
      } else {
          this.companyLogoError = ""
          let reader = new FileReader(); 
          reader.onload = (event) => {
            this.inscripcion.image = event.target.result
          };
          reader.readAsDataURL(file);
      }
    }
  }
}
</script>